

h3{
  font-size:1em;
  font-weight:bold;
}

ul{
  margin: 20px;
  list-style: none;
  padding-left: 0px;
}

.show-container {
  width: 400px;
  color:black;
  margin: 30px auto;
  background: $gray;
  padding: 40px;
}

.btn{
  margin: 20px auto;
  // text-align: center;
}
