// Your footer style

.footer {
  position: absolute;
  background: $gray;
  padding: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  z-index: 1;
  width: 100%;
}

p {
  text-align: left;
  color: $black;
  margin: 20px;
}
