// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

body {
  color:black;
}

.wrapper {
  height: auto;
  margin: 0px auto;
  padding: 50px;
  background-color: $gray;
}


// ul{
//   margin: 20px;
//   list-style: none;
//   padding-left: 0px;
// }

// .doses{
//   margin:40px;
//   widows: auto;
// }
// ul li {
//   text-align:left;
//   font-size: 0.9em;
// }

